<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/user" method="post">
        <label>Full Name</label><br>
        <input type="text" required name="name"/>
        <label>email</label><br>
        <input type="text" required name="email"/>
        <label>Password</label><br>
        <input type="password" required name="password"/>
        <button  type="submit">Signup</button>
    </form>
</body>
</html>